{{!< default}}


    <div class="pure-u-1">
        <div class="content">
            <!-- A wrapper for all the blog posts -->
            <div class="posts">


                {{#post}}   
                    <!-- A single blog post -->
                    <section class="post">
                        <header class="post-header">
                            {{#if author}}
                                <img class="post-avatar" alt="{{author.name}}'s avatar" src="{{author.image}}" height="72" width="72">
                            {{/if}}
                            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
                            {{#if author}}
                                <p class="post-meta">
                                    By <a class="post-author" href="#">{{author.name}}</a> {{#if tags}}posted under {{tags}}{{/if}}
                                </p>
                            {{/if}}
                            <p class="post-meta">
                                Posted on <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time>
                            </p>
                        </header>

                        <div class="post-description">
                            {{content}}
                        </div>
                    </section>
                {{/post}}
            </div>
        </div>
    </div>